/**
 * Fonts.css - Pressio (WOFF) y Barlow Condensed (WOFF2)
 */

/* ===== PRESSIO ===== */
/* Eliminado: Fuentes Pressio no utilizadas (~18 KB ahorro) */

/* ===== BARLOW CONDENSED ===== */
/* Eliminado: extralight (200) y medium (500) no utilizadas (~45 KB ahorro) */

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/assets/fonts/barlowcondensed-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/assets/fonts/barlowcondensed-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}